.adminHeading {
  border-bottom: 3px solid #cf3ef3;
  padding: 15px;
  display: flex;
  width: 100vw;
  height: 80px;
  font-style: italic;
  color: #cf3ef3;
}
.adminLogo {
  font-size: 30px;
  font-weight: 800;
  color: #cf3ef3;

}
.adminMemberOnline {
  position: absolute;
  padding: 15px;
  top: 0;
  right: 0;
  font-weight: 500;
}
