.adminContent {
  /* border: 1px solid black; */
  display: block ;
  width: 100%;
  height:  calc(100vh - 80px);
  /* height: 100%; */
  /* flex-grow: 6; */
  position: relative;
  

}
.adminTableList {
  width: 100%;
  height:  calc(100vh - 260px);
  overflow: scroll;
  border: 20px;
  /* padding: 20px; */
  display: flex; 
  justify-content: center;
}


/* .adminTableList {
  width: calc(100vw - 180px);
} */

.adminAvatarList {
  width: 100%;
  height: 100%;
  clip-path: circle(50px at 50% 50%);
}

.adminTopContent{
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  
}

.adminNameTable {
  font-size: 30px;
  font-weight: 700;
}

.adminAddUser {
  /* background-color: #0881f3;  */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

/* .adminAddUser:hover {
  background-color: blueviolet;
} */

.adminSecondContent {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}

input {
  height: 32px;
  min-width: 300px;
  padding-left: 8px;
}

.adminRefresh {
  background-image: url('https://cdn-icons-png.flaticon.com/512/1053/1053169.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.adminRefresh:hover {
  width: 32px;
  height: 32px;
}

.adminFooter {
  width: 100%;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  background-color: #e3e3e4;
  position: absolute;
  bottom: 0;
}

.adminPage {
  display: flex;
}

.adminStage {
  border: 0.5px solid blueviolet;
  border-radius: 4px;
  height: 36px;
  min-width: 36px;
  padding: 0 4px;
  text-align: center;
  margin: auto 0;
  cursor: pointer;
}
.adminStage:hover {
  background-color: #ea09f1;
  color: white;
}

.adminStage + .adminStage {
  margin-left: 8px;
}